h1 {
    background-color: red;
}
#button1 {
    background-color: #33b5e5;
    font-size: 20px;
}
#button2 {
    background-color: #bbbbbb;
    font-size: 20px;
}
.title {
    font-size: 30px;
    font-family: "Arial Black";
    background-color: #98bf21;
}
#startButton {
    background-color: #bbbbbb;
    background-color: #33b5e5;
    font-size: 20px;
}
#loss, #wins, #tWins, #draws {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    background-color: #bbbbbb;
    font-size: 19px;
}
#cardResults {
    border: 1px solid black;
}
#winnings {
    grid-column: 1 / span 3;
}
.pick_results {
    padding : 100px;
}
